{{header-component
  includejQuery=includejQuery
  includeEaselJs=includeEaselJs
  showingHamburger=showingHamburger
  showHtml=showHtml
  showCss=showCss
  showJs=showJs
  liveEmbed=liveEmbed
  runCode="runCode"
  doLogIn="doLogIn"
  doRegister="doRegister"
  doHowto="doHowto"
  doInfo="doInfo"
  doHome="doHome"
}}
<div class="container">{{outlet}}</div>
